// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// 카테고리 표시
.post .post-category,
.post-list .post-category {
  color: #2aa198;
  font-weight: 700;
}

// contact form
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  label {
    margin-bottom: 1em;
    input, textarea {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      line-height: 1.5;
    }
    textarea {
      height: 10em;
    }
  }
  button {
    display: flex;
    width: 100%;
    height: 3em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

// 상단 검은 줄
.site-header {
  border-top: 0;
}